/* timer styling */
#timer {
    float: right;
    margin-right: 5px;
}
/* Highscores Link styling */
#highscoreLink {
    margin-left: 5px;
    color: blue;
}
/* hides content */
.hide {
    display: none;
}
/* hide button focus */
button:focus {
    outline: none;
}